:root {
  --top-height-ratio: 15;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#top-bar {
  display: block;
  background-color: darkcyan;
  color: white;
  flex-grow: var(--top-height-ratio);
}

#panel {
  display: block;
  background-color: white;
  flex-grow: calc(100-var(--top-height-ratio));
}

body {
  width: 100%;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-vertical {
  flex-direction: column;
}

.flex1 {
  flex-grow: 1;
}

.flex2 {
  flex-grow: 2;
}

.flex3 {
  flex-grow: 3;
}

.flex4 {
  flex-grow: 4;
}

.large.text {
  font-size: 2em;
}

.small.text {
  font-size: 1em;
}

.very-small.text {
  font-size: 0.9em;
}

.bold.text {
  font-weight: bold;
}
