:root {
  --top-height-ratio: 15;
}

body {
  font-family: "Ubuntu", sans-serif;
}

#top-bar {
  display: block;
  background-color: darkcyan;
  color: white;
  flex-grow: var(--top-height-ratio);
}

#panel {
  display: block;
  background-color: white;
  flex-grow: calc(100-var(--top-height-ratio));
}

body {
  width: 100%;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-vertical {
  flex-direction: column;
}

.flex-horizontal {
  flex-direction: row;
}

.flex1 {
  flex-grow: 1;
}

.flex2 {
  flex-grow: 2;
}

.flex3 {
  flex-grow: 3;
}

.flex4 {
  flex-grow: 4;
}

.large.text {
  font-size: 2em;
}

.small.text {
  font-size: 1em;
}

.very-small.text {
  font-size: 0.9em;
}

.bold.text {
  font-weight: bold;
}

.margin5 {
  margin: 5px;
}

.padding5 {
  padding: 5px;
}

.padding10 {
  padding: 10px;
}

.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

.icon-18 {
  width: 18px;
  height: 18px;
}

div.p-inline {
  display: inline;
}

div.p-inline-block {
  display: inline-block;
}

path.white {
  fill: white;
}

rect.white {
  fill: white;
}

a {
  color: white;
  text-decoration: none;
}

div.contact-box {
  padding: 3px;
}

.icon-inverted {
  filter: invert(100%);
}

p.thin {
  margin: 5px 0px;
}
